.wave-set__button {
    font-family: cursive;
}

.wave-stop__button {
    background-color: red;
    width: 80px;
    height: 50px;
    padding-right: 10px;
    border-radius: 6px;
    margin-top: 12px;
}

.wave-new-wave__button {
    background-color:rgba(136, 138, 243, 0.993);
    width: 80px;
    height: 100%;
    padding-right: 10px;
    border-radius: 6px;
    //margin-top: 12px;
    color: wheat;
    font-family: cursive;
}